.vai_mainDiv{
    border: 1px solid black;
    height: 130px;
    background-color: rgb(0,53,128);
 
}
.flex{
    display: flex;
    justify-content: space-around;
}
.flex1{
    /* border: 1px solid white; */
    width: 63%;
    margin: auto;
    display: flex;
    gap: 35px;
}
#vai_bookDiv{
    color: rgb(255,255,255);
}
#vai_logSign{
    /* border: 1px solid white; */
    margin-top: 20px;
    width: 15%;
}
#vai_logSign>button{
    border: 1px solid black;
    cursor: pointer;
    margin: 10px;
    width: 35%;
    height: 37px;
    font-size: 15px;
    background-color:rgb(255,255,255);
    color: rgb(0,53,128);
}
#vai_logSign>button:hover{
   background-color: whitesmoke;
}
.flex1>p{
    border: 1px solid white; 
    cursor: pointer;
    color:rgb(255,255,255);
    /* font-size: 16px; */
    font-weight: bold;
 }

.st{
    /* border: 1px solid white; */
    color:rgb(255,255,255);
    margin-top: 10px;
    font-weight: bold;
    text-decoration: none; 
    padding: 7px;
}
.st:hover{
    border: 1px solid white;
    border-radius: 10px;
   
}