#form{
    border: 5px solid rgb(254,187,2);
    width: 80%;
    height: 40px;
    margin: auto;
    /* padding: 12px; */
}
#form>input{
    border: 1px solid rgb(254,187,2);
    width: 77%;
    width: 30.5%;
    height: 90%;  
}
#form>button{
    /* border: 1px solid black; */
    cursor: pointer;
    padding: 9px;
    /* width: 9%;
    height: 100%; */
    font-size: 17px;
    background-color: rgb(0,113,194);
    color: rgb(255,255,255);

}